force-app/main/default/flows/Container_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Color</name>
        <label>Assign Color</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>var_container_assignment_rec.Container_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Color</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Color</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Container_And_Ship</name>
        <label>Assign Container And Ship</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_container_assignment_rec.Container__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_container_rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_container_assignment_rec.Cargo_Ship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ship_rec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ship_Container_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_container_rec.Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Length</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_container_rec.Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Width</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_container_rec.Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ship_rec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ship_rec.Ship_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ship_rec.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_Capacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ship_rec.Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_Length</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ship_rec.Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_Width</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ship_rec.Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_container_rec.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Color</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Container</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>var_container_color</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Color__c</picklistField>
        <picklistObject>Container__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>User_Name</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Container Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Container Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Container</name>
        <label>Create Container</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Ship</targetReference>
        </connector>
        <inputReference>var_container_rec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ship</name>
        <label>Create Ship</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Created_Container</targetReference>
        </connector>
        <inputReference>var_ship_rec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Ship_Container_Assignment</name>
        <label>Ship Container Assignment</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Done_Screen</targetReference>
        </connector>
        <inputReference>var_container_assignment_rec</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Container_Assignment_Rec</name>
        <label>Get Container Assignment Rec</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Color</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_container_assignment_rec.Id</elementReference>
            </value>
        </filters>
        <object>Container_Tracker__c</object>
        <outputReference>var_container_assignment_rec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Container_Color__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Container</name>
        <label>Get Created Container</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Created_Ship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Length__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Container_Length</elementReference>
            </value>
        </filters>
        <filters>
            <field>Width__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Container_Width</elementReference>
            </value>
        </filters>
        <filters>
            <field>Height__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Container_Height</elementReference>
            </value>
        </filters>
        <object>Container__c</object>
        <outputReference>var_container_rec</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Ship</name>
        <label>Get Created Ship</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Container_And_Ship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ship_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ship_Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ship_Serial_Number</elementReference>
            </value>
        </filters>
        <object>Cargo_Ship__c</object>
        <outputReference>var_ship_rec</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Color</name>
        <label>Update Color</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <inputReference>var_container_assignment_rec</inputReference>
    </recordUpdates>
    <screens>
        <name>Container_Screen</name>
        <label>Container Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ship_Screen</targetReference>
        </connector>
        <fields>
            <name>Greeting_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(78, 35, 218); font-size: 20px;&quot;&gt;Greeting, {!User_Name}. Fill all container fields&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Container_Length</name>
            <dataType>Number</dataType>
            <fieldText>Container Length</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Container_Width</name>
            <dataType>Number</dataType>
            <fieldText>Container Width</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Container_Height</name>
            <dataType>Number</dataType>
            <fieldText>Container Height</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Container_Color</name>
            <choiceReferences>var_container_color</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Container Color</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done_Screen</name>
        <label>Done Screen</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Container_Assignment_Rec</targetReference>
        </connector>
        <fields>
            <name>Created_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(93, 55, 215);&quot;&gt;Created successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ship_Screen</name>
        <label>Ship Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>Ship_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(89, 30, 208);&quot;&gt;Please fill all ship fields&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ship_Name</name>
            <dataType>String</dataType>
            <fieldText>Ship Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Ship Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_Capacity</name>
            <dataType>Number</dataType>
            <fieldText>Ship Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Ship_Length</name>
            <dataType>Number</dataType>
            <fieldText>Ship Length</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Ship_Width</name>
            <dataType>Number</dataType>
            <fieldText>Ship Width</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Ship_Height</name>
            <dataType>Number</dataType>
            <fieldText>Ship Height</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Container_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_container_assignment_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Container_Tracker__c</objectType>
    </variables>
    <variables>
        <name>var_container_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Container__c</objectType>
    </variables>
    <variables>
        <name>var_ship_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cargo_Ship__c</objectType>
    </variables>
</Flow>
